/* ==UserStyle==
@name           Dark Mode For Ilias at FHV
@namespace      https://github.com/jan222ik/illias-dark-theme-user-css
@version        1.2.2
@description    Dark Mode Fir Ilias at FHV
@author         Continued by jan222ik - Base from github.com/pgr3931 at https://github.com/pgr3931/OldThemeForAnilist
@homepageURL    https://github.com/jan222ik/illias-dark-theme-user-css
@updateURL      https://github.com/jan222ik/illias-dark-theme-user-css/raw/master/ilias-dark-theme.user.css
==/UserStyle== */
:root {
    --color-background: 39, 44, 56;
    --color-foreground: 31, 35, 45;
    --color-text: 159, 173, 189;
    --color-text-lighter: 133, 150, 165;
    --color-foreground-grey: 25, 29, 38;
    --color-green: 0, 150, 130;
    --color-link-green: 0, 150, 130;
}

body,
#il_center_col div.il_Block,
div.ilBlockInfo,
#ilTopNav .dropdown-menu,
.dropdown-menu,
.ilFormHeader,
.modal-content,
.close,
.close:hover {
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-text));
}

.il-multi-line-cap-3:after {
    background: rgb(var(--color-foreground));
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0px;
    border-radius: 10px;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}


.dropdown-menu li > a,
#ilTopNav .dropdown-menu li a,
#ilTopBarNav .dropdown-menu a,
.navbar-default .navbar-text,
span.ilTableFootLight,
.il_InfoScreenProperty {
    color: rgb(var(--color-text));
}

.dropdown-menu .divider {
    background-color: rgb(var(--color-text));
}

#ilTopNav .navbar-nav > .active > a,
#ilTopNav .navbar-nav > .open > a,
#ilTopNav .navbar-nav > .active > a:hover,
#ilTopNav .navbar-nav > .open > a:hover,
#ilTopNav .navbar-nav > .active > a:active,
#ilTopNav .navbar-nav > .open > a:active,
#ilTopNav .navbar-nav > .active > a:focus,
#ilTopNav .navbar-nav > .open > a:focus,
footer.ilFooter,
#ilTopNav .dropdown-menu li a:hover,
.dropdown-header,
.dropdown-menu li > a:hover,
#ilTopBarNav .dropdown-menu a:hover,
.ilFormFooter,
.ilFormValue,
.ilFormValue > p,
.ilToolbar.navbar,
div.ilTableSelectAll,
.table > thead > tr > th,
.form-horizontal,
.il_InfoScreenPropertyValue {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-text));
}

.ilFormValue > p {
    margin: 0;
    padding: 10px
}

#ilTopBarNav .dropdown-menu,
#ilTopBarNav > .active > a,
#ilTopBarNav > .open > a,
#ilTopBarNav > .active > a:hover,
#ilTopBarNav > .open > a:hover,
#ilTopBarNav > .active > a:active,
#ilTopBarNav > .open > a:active,
#ilTopBarNav > .active > a:focus,
#ilTopBarNav > .open > a:focus {
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-text));
}

.il-viewcontrol-mode .ilSubmitInactive,
.il-viewcontrol-section .ilSubmitInactive,
.il-viewcontrol-mode .ilSubmitInactive:hover,
.il-viewcontrol-section .ilSubmitInactive:hover {
    background-color: rgb(var(--color-background));
    color: #fff
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h3.ilHeader,
table.calmini tr,
table.calmini td,
table.calmini th,
footer.ilFooter div.ilFooterContainer,
footer.ilFooter a.permalink_label,
footer.ilFooter div.ilFooterContainer > a,
.il-panel-listing-std-container > h3,
.il-panel-listing-std-container > .il-item-group > h4,
.il-item .il-item-property-value,
.dropdown-menu li > .btn,
.dropdown-menu li > .btn:hover,
div.ilHeaderDesc,
.form-horizontal label {
    color: rgb(var(--color-text));
}

.ilObjListRow,
.ilLeftNav,
div.il_Block,
table.il_Block {
    background-color: rgb(var(--color-foreground));
    border-bottom: none;
    border-radius: 5px;
    margin-bottom: 5px
}

div.ilBlockHeader,
div.ilBlockHeaderBig,
td.ilBlockHeader,
td.ilBlockHeaderBig,
.ilBlockRow1,
.ilBlockRow2 {
    border-bottom: 2px solid rgb(var(--color-background));
}

.ilLeftNav {
    border-right: 3px solid rgb(var(--color-background));
}

.jstree.jstree-default a.disabled {
    color: rgb(var(--color-text-lighter)) !important;
}

.ilObjListRow:hover,
a.ilTreeView,
a.ilTreeView > img,
.il_HAccordionHead:hover,
.il_VAccordionHead:hover {
    background-color: rgb(var(--color-foreground-grey));
}

a.ilTreeView,
a.ilTreeView > img {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

table.calmini {
    background-color: transparent
}

.ilMainHeader,
div.ilTopBar,
#ilTopBarNav > li > a,
.bootstrap-datetimepicker-widget table td span:hover,
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.il-item-marker,
div.ilCalSelSelAll,
div.ilCalSelAct,
.dropdown-menu li > .btn:hover,
div.ilTableOuter,
div.ilTableCommandRow,
div.ilTableCommandRowTop,
.ilTableOuter .table,
.table-striped > tbody > tr:nth-of-type(odd),
fieldset.ilTableFilter,
.ilInfoScreenSec.form-horizontal .form-group {
    background-color: rgb(var(--color-foreground));
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid rgb(var(--color-text));
}

.table > thead > tr > th {
    border-bottom: 1px solid rgb(var(--color-text));
}

table.calmini td.calminitoday,
.bootstrap-datetimepicker-widget table td span.active {
    background-color: rgb(var(--color-green));
    color: rgb(var(--color-text));
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: rgb(var(--color-green));
    color: #fff;
}

.btn-default {
    background-color: rgb(var(--color-green));
}

table.calmini td.calminitoday,
.ilToolbar.navbar,
.il-item-marker,
div.ilTableOuter,
div.ilTableCommandRow,
div.ilTableCommandRowTop,
.form-horizontal,
.form-horizontal .form-group,
.il_InfoScreenPropertyValue {
    border-radius: 5px
}

.il_VAccordionHead,
.il_HAccordionHead {
    background: url(../../../../templates/default/images/tree_col.svg) no-repeat 9px 10px rgb(var(--color-foreground));
    border-radius: 5px
}

.il_HAccordionHeadActive,
.il_VAccordionHeadActive {
    background-image: url(../../../../templates/default/images/tree_exp.svg);
}


.form-horizontal .form-group {
    margin-top: 5px;
    padding-top: 5px;
}

table.calmini td:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

table.calmini td:nth-child(7) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.il-item .il-item-divider {
    border-bottom: dashed 0.5px rgb(var(--color-text));
}

#ilTab,
.modal-header {
    border-bottom: solid 2px rgb(var(--color-foreground-grey));
}

.modal-footer {
    border-top: solid 2px rgb(var(--color-foreground-grey));
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: rgb(var(--color-foreground-grey));
}

ul.ilCalSel li {
    border-bottom: 1px solid rgb(var(--color-text));
    margin-bottom: 2px
}


#il_center_col div.il_Block,
div.ilBlockInfo {
    margin-top: 2px;
    border-radius: 5px
}

.btn-default,
span.ilNewsRssIcon {
    border-radius: 5px;
    border: none
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: rgb(var(--color-link-green));
    background-color: rgb(var(--color-foreground));
    border: none;
}

#ilTopNav .navbar-nav > li > a:hover,
#ilTopNav .navbar-nav > li > a:active,
#ilTopNav .navbar-nav > li > a:focus,
.ilBlockContent .il-viewcontrol-section .btn.btn-default,
.jstree.jstree-default a {
    color: rgb(var(--color-link-green))!important;
}

a,
a#il_mhead_t_focus,
.btn-link {
    color: rgb(var(--color-link-green));
}

table.calmini tr:nth-child(odd) {
    background-color: rgb(var(--color-foreground));
}

table.calmini tr:nth-child(even) {
    background-color: rgb(var(--color-background));
    border-radius: 5px
}

.panel-default > .panel-heading {
    color: #4d4d4d;
    background-color: rgb(var(--color-foreground));
}

div.ilBlogList {
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(var(--color-background));
}
div.ilNotes {
    background-color: rgb(var(--color-foreground));
    padding: 15px;
}

div.il_ContainerItemCommands2 {
    text-align: right;
    margin: 0 3px 3px 3px;
}

div.light {
    color: rgb(var(--color-text));
}

div.ilc_page_cont_PageContainer {
    background-color: rgb(var(--color-foreground));
    border-width: 1px;
    border-color: rgb(var(--color-foreground-grey));
    padding: 20px;
    margin: 0px;
    border-style: solid;
}
.surveySheet {
    padding: 20px;
    border-style: solid;
    border-color: #9EADBA;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    margin-bottom: 0px;
    border-radius: 10px;
}

td.nobackground {
    color: white;
    background-color: inherit;
    border-spacing: 0;
    border: none;
    padding: 3px;
    vertical-align: top;
}
.obligatory {
    font-weight: normal;
    color: rgb(var(--color-link-green));
    font-variant: normal;
}
.solutionbox {
    color: white;
    background-color: rgb(var(--color-foreground));
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: inset;
    border-width: 1px;
    display: inline-block;
    width: 400px;
    border-radius: 10px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(var(--color-foreground));
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(var(--color-text-lighter));
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--color-green));
}

/* Footer */

#ilFooter {
    background: rgb(var(--color-foreground)) !important;
}

footer.ilFooter {
    background-color: rgb(var(--color-foreground)) !important;
}

/* Header */

.ilMainHeader.ilTopFixed {
    /*top: 0px !important*/;
    display: none;
}

li.active > a {
    background: rgb(var(--color-foreground)) !important;
}

#ilMainMenuEntries {
    background: rgb(var(--color-background)) !important;
}

#ilTopNav {
    margin-left: 0;
    margin-top: -33px;
}

.ilMainMenu > .container-fluid {
    background: rgb(var(--color-background)) !important;
}

.dropdown.open > a {
    border-top: 4px solid rgb(var(--color-green)) !important;
}

.dropdown > a {
    border-top: 4px solid rgba(0, 0, 0, 0) !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: rgb(var(--color-foreground)) !important;
}

.ilMainMenu {
    background-color: rgb(var(--color-background)) !important;
}

.ilMainHeader {
    border-bottom: 0;
}


/* Color boxes */

.ilc_text_block_Attention {
    background-color: #fc5c65 !important;
    color: white;
}

.ilc_section_Information {
    background-color: #45aaf2 !important;
    color: white !important;
}

.ilc_text_block_Additional {
    background-color: rgb(var(--color-background)) !important;
}

/* Forms */

select.form-control {
    background-color: rgb(var(--color-foreground-grey));
    color: white;
}

.btn-default {
    background-color: rgb(var(--color-green)) !important;
}

.btn-default > span {
    color: #000;
}

#current_perma_link {
    background-color: rgb(var(--color-foreground-grey));
    color: white;
}

tr.std {
    background-color: rgb(var(--color-foreground)) !important;
    color: #fff;
}

.submit {
    background-color: rgb(var(--color-foreground)) !important;
}

input.form-control {
    background-color: rgb(var(--color-background)) !important;
    color: #fff;
}

#ilTopBarNav .dropdown-menu {
    background-color: rgb(var(--color-background)) !important;
}

/* Buttons top right */
#ilTopBarNav > li > a {
    background-color: rgb(var(--color-background)) !important;
}

#ilTopBarNav > li > a:hover {
    background-color: rgb(var(--color-foreground)) !important;
}

#ilTopBarNav > li > a {
    border-top: 0 !important;
}

/* Tab buttons */
li > a:hover {
    background-color: rgb(var(--color-foreground)) !important;
}

/* Cards */
.il-card {
    background-color: rgb(var(--color-foreground)) !important;
    border: 0;
}

.il_info {
    color: white !important;
    border: 0;
}

.caption {
    border: 0 !important;
}

.panel-primary {
    background-color: rgb(var(--color-foreground)) !important;
}

.ilCOPageSection {
    background-color: rgb(var(--color-foreground)) !important;
}

/* Forum */
.ilFrmPostRow {
    background-color: rgb(var(--color-foreground)) !important;
    border-top: 1px solid rgb(var(--color-background));
}

/* Text */
.ilc_link_ExtLink {
    color: #fff !important;
}

/* Wiki */
div.ilc_page_toc_PageTOC {
    background-color: rgb(var(--color-background));
    border: 1px solid transparent;
}

div.ilc_Code {
    background: rgb(var(--color-background));
    border: 0
}

td.ilc_LineNumbers {
    background: rgb(var(--color-foreground));
    padding-left: 0;
}

td.ilc_Sourcecode {
    padding-left: 0;
    background: rgb(var(--color-foreground));
}

td.ilc_LineNumbers > pre {
    background-color: rgb(var(--color-foreground)) !important;
    color: #fff;
    border: 0;
    border-right: 1px solid #fff;
    margin-bottom: 0;
}

td.ilc_Sourcecode > pre {
    background-color: rgb(var(--color-foreground)) !important;
    margin: 0;
    border: 0;
    color: #fff;
}

span[style="color: #009900;"] {
    color: #fff !Important;
}

span[style="color: #000000; font-weight: bold;"] {
    color: #ff7b67 !important;
}

span[style="color: #000066; font-weight: bold;"] {
    color: #ff7b67 !important;
}

span[style="color: #0000ff;"] {
    color: #7fd6ff !important;
}

span[style="color: #003399;"] {
    color: #d2a8ff !important;
}

span[style="color: #006633;"] {
    color: #fff !important;
}

span[style="color: #cc66cc;"] {
    color: #79c0d1 !important;
}

span[style="color: #339933;"] {
    color: #fff !important;
}
